.about-container {
  padding: 5rem 20%;
  width: 100%;
  background-image: url("../../../assets/down_wave.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.leila-portrait {
  margin-bottom: -10rem;
  margin-left: 5rem;
  margin-top: 4rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.about-text-card {
  background: #f4f3f0;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 6rem;
  border-radius: 10px

}

.about-title {
  margin-left: 25rem;
  margin-bottom: 5rem;
}

.about-list li {
  line-height: 1.9rem;
}

.about-button-section {
    display: flex;
    justify-content: center;
    margin-top: 4rem
}
