.articleCard {
  width: 48%;
  display: flex;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  margin-bottom: 3rem;
  background: #f4f3f0;
}

.articleCard-picture {
  width: 50%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
}


.articleCard-text {
  width: 50%;
  padding: 1rem;
}

.card-title {
}



