
.contact-form-root {
  width: 60%;
  padding: 2rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 2rem 20%;
  background: #80b6b0;
  border-radius: 10px  
}

.contact-label {
  margin-bottom: .3rem;
}

.contact-input {
  height: 2rem;
  border-radius: 8px;
  border: none;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  margin-bottom: 1rem;
}

.contact-textarea {
  border-radius: 10px;
  height: 8rem;
  border: none;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.contact-form-button-section {
  display: flex;
  justify-content: center;
  padding: 2rem 01rem 0;
}

.form-textarea {
  height: 8rem
}

