.contact-section-root {
  padding: 5rem 15rem;
  font-family: "Montserrat", sans-serif;
  background: #95b5b5;
}

.contact-container {
    display: flex;
    justify-content: space-between;
}

.section-title {
  padding-bottom: 2rem;
}
