.hero {
    height: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, #000000 -0.93%, rgba(0, 0, 0, 0) 70.83%), url("../assets/header.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 5rem;
}

.hero-logoAndText {
    display: flex;
    padding-bottom: 3rem;
    user-select: none;
}

.hero-logo {
    padding-right: 10rem;
}

.hero-title {
    font-weight: 300;
    font-size: 64px;
    color: white;
}

.hero-subtitle {
    text-transform: uppercase;
    color: #4AB7C2;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 1rem;
}

.hero-innernav {
    display: flex;
    align-items: center;
}

.hero-innernav span {
    color: white;
    font-size: 32px;
    padding: 0 2rem;
}

.hero-innernav span:first-child {
    padding-left: 0;
}

.hero-innernav hr {
    height: 3.5rem;
    color: #c0c0c0;
}

.big-cta {
    background-color: #4AB7C2;
    font-size: 28px;
    color: white;
    font-weight: 500;
    line-height: 48px;
    border-radius: 20px;
    width: 505px;
    height: 63px;
    margin: 5rem;
}


