.intro-root {
  padding: 5rem 15rem;
  font-family: "Montserrat", sans-serif;
  background: #fe107107
}

.text-container {
  width: 50%;
  font-size: 16px;
}

.section-title {
  padding-bottom: 2rem;
}
