.last-publications {
    padding: 5rem 15rem;
    font-family: "Montserrat", sans-serif;
}

.articles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog-button {
    min-width: 16rem;
    height: 3rem;
    padding: 0 3rem;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    background-color: #193c3c;   
}