.navbar {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}
.navbar__home {
    padding: 2rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.navbar__menu {
    padding-right: 6rem;
}

.navbar__menu--item {
    padding: 0 1.5rem;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.navbar__menu--item:hover {
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #c68439;
}