.navbar {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;

    /* background-color: #ADE1E7; */
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}
.navbar__home {
    padding: 2rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 28px;
    color: #193C3C;
}

.navbar__menu {
    padding-right: 6rem;
}

.navbar__menu--item {
    padding: 0 1.5rem;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    text-decoration: none;
    color: #193C3C;
}

.navbar__menu--item:hover {
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #4AB7C2
}