.navbar {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #555b6eff; */
}

.logo {
    width: 80px;
    height: 80px;
}
.navbar__home {
    padding: 2rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: italic;
    color: #193C3C;
}

.navbar__menu {
    padding-right: 6rem;
}

.navbar__menu--item {
    padding: 0 3rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #193C3C;
}