.partners-root {
    padding: 5rem 15rem;
    font-family: "Montserrat", sans-serif;

}

.logos-container {
display: flex;
justify-content: space-between;
/* padding: 5rem 0; */
}

.partner-logo {
    /* min-width: 2rem; */
    max-width: 20rem;
    max-height: 6rem;
}